In [67]:
import pandas as pd
import hvplot.pandas
from pathlib import Path
import numpy as np
import os

In [68]:
#2004 Data

In [69]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined04_df = pd.read_csv(
    Path("Resources/t_test/2004_2016.csv")
)

# Review the first and last five rows of the DataFrame
unrefined04_df

,Field,LiBl 2004,LiBl 2016,BiBl 2004,BiBl 2016,Ind 2004,Ind 2016,Swit 2004,Swit 2016,EaGa 2004,EaGa 2016,Any of 5 2004,Any of 5 2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.00,0.00,0.05,0.03,0.31,0.69,0.00,0.06,0.00,0.00,0.33,0.71
2,FM2,0.00,0.10,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.02,0.10
3,FM3,0.00,0.02,0.00,0.00,0.38,0.57,0.00,0.00,0.19,0.36,0.48,0.74
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.00,0.00,0.00,0.33,0.89,0.00,0.00,0.00,0.03,0.33,0.89
6,CM2,0.04,0.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.09
7,CM3,0.36,0.46,0.00,0.00,0.08,0.23,0.00,0.00,0.00,0.00,0.40,0.62
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.04
10,FCM2,0.05,0.07,0.00,0.05,0.05,0.07,0.00,0.00,0.00,0.00,0.09,0.20
11,FCM3,0.00,0.00,0.00,0.00,0.00,0.10,0.00,0.10,0.00,0.03,0.00,0.23
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.25,0.17,0.25,0.17,0.00,0.00,0.00,0.00,0.00,0.00,0.45,0.30
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.67,0.33,0.48,0.59,0.48,0.52,0.09,0.17,0.00,0.04,0.93,0.96

In [70]:
sneed04_df = unrefined04_df.drop(['LiBl 2016', 'Ind 2016', 'BiBl 2016', 'Swit 2016', 'EaGa 2016','Any of 5 2016'], axis = 1)
sneed04_df

,Field,LiBl 2004,BiBl 2004,Ind 2004,Swit 2004,EaGa 2004,Any of 5 2004
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.00,0.05,0.31,0.00,0.00,0.33
2,FM2,0.00,0.00,0.02,0.00,0.00,0.02
3,FM3,0.00,0.00,0.38,0.00,0.19,0.48
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.00,0.33,0.00,0.00,0.33
6,CM2,0.04,0.00,0.00,0.00,0.00,0.04
7,CM3,0.36,0.00,0.08,0.00,0.00,0.40
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.00,0.00,0.00,0.00,0.00,0.00
10,FCM2,0.05,0.00,0.05,0.00,0.00,0.09
11,FCM3,0.00,0.00,0.00,0.00,0.00,0.00
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.25,0.25,0.00,0.00,0.00,0.45
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.67,0.48,0.48,0.09,0.00,0.93

In [71]:
sneed04_df.dropna()

,Field,LiBl 2004,BiBl 2004,Ind 2004,Swit 2004,EaGa 2004,Any of 5 2004
1,FM1,0.00,0.05,0.31,0.00,0.00,0.33
2,FM2,0.00,0.00,0.02,0.00,0.00,0.02
3,FM3,0.00,0.00,0.38,0.00,0.19,0.48
5,CM1,0.00,0.00,0.33,0.00,0.00,0.33
6,CM2,0.04,0.00,0.00,0.00,0.00,0.04
7,CM3,0.36,0.00,0.08,0.00,0.00,0.40
9,FCM1,0.00,0.00,0.00,0.00,0.00,0.00
10,FCM2,0.05,0.00,0.05,0.00,0.00,0.09
11,FCM3,0.00,0.00,0.00,0.00,0.00,0.00
13,Remnant,0.25,0.25,0.00,0.00,0.00,0.45
15,Garnett,0.67,0.48,0.48,0.09,0.00,0.93

In [72]:
fm_sneed04 = sneed04_df.iloc[1:4]
fm_sneed04

  Field  LiBl 2004  BiBl 2004  Ind 2004  Swit 2004  EaGa 2004  Any of 5 2004
1   FM1        0.0       0.05      0.31        0.0       0.00           0.33
2   FM2        0.0       0.00      0.02        0.0       0.00           0.02
3   FM3        0.0       0.00      0.38        0.0       0.19           0.48

In [73]:
cm_sneed04 = sneed04_df.iloc[5:8]
cm_sneed04

  Field  LiBl 2004  BiBl 2004  Ind 2004  Swit 2004  EaGa 2004  Any of 5 2004
5   CM1       0.00        0.0      0.33        0.0        0.0           0.33
6   CM2       0.04        0.0      0.00        0.0        0.0           0.04
7   CM3       0.36        0.0      0.08        0.0        0.0           0.40

In [74]:
fcm_sneed04 = sneed04_df.iloc[9:12]
fcm_sneed04

   Field  LiBl 2004  BiBl 2004  Ind 2004  Swit 2004  EaGa 2004  Any of 5 2004
9   FCM1       0.00        0.0      0.00        0.0        0.0           0.00
10  FCM2       0.05        0.0      0.05        0.0        0.0           0.09
11  FCM3       0.00        0.0      0.00        0.0        0.0           0.00

In [75]:
# 2008 Data

In [76]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined08_df = pd.read_csv(
    Path("Resources/t_test/2008.csv")
)

# Review the first and last five rows of the DataFrame
unrefined08_df

,Field,JohnGr,Tree,Bare,LiBl,BiBl,Ind,Swit,EaGa,Any of 5 grasses
0,Averages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.05,0.10,0.0,0.00,0.05,0.31,0.00,0.00,0.57
2,FM2,0.02,0.17,0.0,0.00,0.00,0.02,0.00,0.00,0.07
3,FM3,0.14,0.05,0.0,0.00,0.00,0.38,0.00,0.19,0.71
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.02,0.0,0.00,0.00,0.33,0.00,0.00,0.69
6,CM2,0.06,0.00,0.0,0.04,0.00,0.00,0.00,0.00,0.08
7,CM3,0.12,0.20,0.0,0.36,0.00,0.08,0.00,0.00,0.44
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.22,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00
10,FCM2,0.07,0.00,0.0,0.05,0.00,0.05,0.00,0.00,0.11
11,FCM3,0.13,0.13,0.0,0.00,0.00,0.00,0.00,0.00,0.00
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.05,0.75,0.0,0.25,0.25,0.00,0.00,0.00,0.80
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.04,0.04,0.0,0.67,0.48,0.48,0.09,0.00,0.93

In [77]:
sneed08_df = unrefined08_df.drop(['Tree', 'Bare',], axis = 1)
sneed08_df

       Field  JohnGr  LiBl  BiBl   Ind  Swit  EaGa  Any of 5 grasses
0   Averages     NaN   NaN   NaN   NaN   NaN   NaN               NaN
1        FM1    0.05  0.00  0.05  0.31  0.00  0.00              0.57
2        FM2    0.02  0.00  0.00  0.02  0.00  0.00              0.07
3        FM3    0.14  0.00  0.00  0.38  0.00  0.19              0.71
4        NaN     NaN   NaN   NaN   NaN   NaN   NaN               NaN
5        CM1    0.00  0.00  0.00  0.33  0.00  0.00              0.69
6        CM2    0.06  0.04  0.00  0.00  0.00  0.00              0.08
7        CM3    0.12  0.36  0.00  0.08  0.00  0.00              0.44
8        NaN     NaN   NaN   NaN   NaN   NaN   NaN               NaN
9       FCM1    0.22  0.00  0.00  0.00  0.00  0.00              0.00
10      FCM2    0.07  0.05  0.00  0.05  0.00  0.00              0.11
11      FCM3    0.13  0.00  0.00  0.00  0.00  0.00              0.00
12       NaN     NaN   NaN   NaN   NaN   NaN   NaN               NaN
13   Remnant    0.05  0.25  0.25  0.00  0.00  0.00              0.80
14       NaN     NaN   NaN   NaN   NaN   NaN   NaN               NaN
15   Garnett    0.04  0.67  0.48  0.48  0.09  0.00              0.93

In [78]:
sneed08_df.dropna()

      Field  JohnGr  LiBl  BiBl   Ind  Swit  EaGa  Any of 5 grasses
1       FM1    0.05  0.00  0.05  0.31  0.00  0.00              0.57
2       FM2    0.02  0.00  0.00  0.02  0.00  0.00              0.07
3       FM3    0.14  0.00  0.00  0.38  0.00  0.19              0.71
5       CM1    0.00  0.00  0.00  0.33  0.00  0.00              0.69
6       CM2    0.06  0.04  0.00  0.00  0.00  0.00              0.08
7       CM3    0.12  0.36  0.00  0.08  0.00  0.00              0.44
9      FCM1    0.22  0.00  0.00  0.00  0.00  0.00              0.00
10     FCM2    0.07  0.05  0.00  0.05  0.00  0.00              0.11
11     FCM3    0.13  0.00  0.00  0.00  0.00  0.00              0.00
13  Remnant    0.05  0.25  0.25  0.00  0.00  0.00              0.80
15  Garnett    0.04  0.67  0.48  0.48  0.09  0.00              0.93

In [79]:
fm_sneed08 = sneed08_df.iloc[1:4]
fm_sneed08

  Field  JohnGr  LiBl  BiBl   Ind  Swit  EaGa  Any of 5 grasses
1   FM1    0.05   0.0  0.05  0.31   0.0  0.00              0.57
2   FM2    0.02   0.0  0.00  0.02   0.0  0.00              0.07
3   FM3    0.14   0.0  0.00  0.38   0.0  0.19              0.71

In [80]:
cm_sneed08 = sneed08_df.iloc[5:8]
cm_sneed08

  Field  JohnGr  LiBl  BiBl   Ind  Swit  EaGa  Any of 5 grasses
5   CM1    0.00  0.00   0.0  0.33   0.0   0.0              0.69
6   CM2    0.06  0.04   0.0  0.00   0.0   0.0              0.08
7   CM3    0.12  0.36   0.0  0.08   0.0   0.0              0.44

In [81]:
fcm_sneed08 = sneed08_df.iloc[9:12]
fcm_sneed08

   Field  JohnGr  LiBl  BiBl   Ind  Swit  EaGa  Any of 5 grasses
9   FCM1    0.22  0.00   0.0  0.00   0.0   0.0              0.00
10  FCM2    0.07  0.05   0.0  0.05   0.0   0.0              0.11
11  FCM3    0.13  0.00   0.0  0.00   0.0   0.0              0.00

In [82]:
# 2009 Data - only four

In [83]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined09_df = pd.read_csv(
    Path("Resources/t_test/2009.csv")
)

# Review the first and last five rows of the DataFrame
unrefined09_df

,field,LiBl pres,LiBl abs,LiBl prop pres,BiBl pres,BiBl abs,BiBl prop pres,Ind pres,Ind abs,Ind prop pres,...,Swit abs,Swit prop pres,EaGa pres,EaGa abs,Any 4 pres,Any 4 abs,Any 4 prop pres,Johnson pres,Johnson abs,Johnson prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,Recently mowed due to late summer haying. Som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fm2,4,37,0.11,0.0,41.0,0.0,1.0,35.0,0.03,...,35.0,0.03,ND,ND,6.0,35.0,0.17,5.0,39.0,0.13
3,fm3,Recently mowed due to late summer haying. Som...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,Recently mowed due to late summer haying. Some...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,cm2,3,56,0.05,0.0,59.0,0.0,0.0,51.0,0.00,...,51.0,0.00,ND,ND,3.0,49.0,0.06,4.0,52.0,0.08
7,cm3,8,18,0.44,0.0,26.0,0.0,2.0,25.0,0.08,...,27.0,0.00,nd,nd,10.0,28.0,0.36,0.0,27.0,0.00
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0,33,0.00,0.0,33.0,0.0,0.0,35.0,0.00,...,35.0,0.00,nd,nd,0.0,33.0,0.00,5.0,30.0,0.17
10,fcm2,4,32,0.13,0.0,36.0,0.0,5.0,43.0,0.12,...,48.0,0.00,nd,nd,7.0,35.0,0.20,3.0,44.0,0.07
11,fcm3,1,30,0.03,0.0,31.0,0.0,2.0,31.0,0.06,...,33.0,0.00,nd,nd,3.0,31.0,0.10,3.0,30.0,0.10
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,NaN,No data due to fire shortly before data collec...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,NaN,"No data - only 1 lab section this year, little...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
sneed09_df = unrefined09_df[['field','Johnson  prop pres','LiBl prop pres','BiBl prop  pres','Ind prop pres', 'Swit prop pres', 'Any 4 prop  pres']]
sneed09_df

,field,Johnson prop pres,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,Any 4 prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,NaN,NaN,NaN,NaN,NaN,NaN
2,fm2,0.13,0.11,0.0,0.03,0.03,0.17
3,fm3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,NaN,NaN,NaN,NaN,NaN,NaN
6,cm2,0.08,0.05,0.0,0.00,0.00,0.06
7,cm3,0.00,0.44,0.0,0.08,0.00,0.36
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0.17,0.00,0.0,0.00,0.00,0.00
10,fcm2,0.07,0.13,0.0,0.12,0.00,0.20
11,fcm3,0.10,0.03,0.0,0.06,0.00,0.10
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
fm_sneed09 = sneed09_df.iloc[1:4]
fm_sneed09

,field,Johnson prop pres,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,Any 4 prop pres
1,fm1,NaN,NaN,NaN,NaN,NaN,NaN
2,fm2,0.13,0.11,0.0,0.03,0.03,0.17
3,fm3,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
cm_sneed09 = sneed09_df.iloc[5:8]
cm_sneed09

,field,Johnson prop pres,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,Any 4 prop pres
5,cm1,NaN,NaN,NaN,NaN,NaN,NaN
6,cm2,0.08,0.05,0.0,0.00,0.0,0.06
7,cm3,0.00,0.44,0.0,0.08,0.0,0.36

In [87]:
fcm_sneed09 = sneed09_df.iloc[9:12]
fcm_sneed09

,field,Johnson prop pres,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,Any 4 prop pres
9,fcm1,0.17,0.00,0.0,0.00,0.0,0.0
10,fcm2,0.07,0.13,0.0,0.12,0.0,0.2
11,fcm3,0.10,0.03,0.0,0.06,0.0,0.1

In [88]:
# 2010 Data

In [89]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined10_df = pd.read_csv(
    Path("Resources/t_test/2010.csv")
)

# Review the first and last five rows of the DataFrame
unrefined10_df

,field,LiBl pres,LiBl abs,LiBl prop pres,BiBl pres,BiBl abs,BiBl prop pres,Ind pres,Ind abs,Ind prop pres,Swit pres,Swit abs,Swit prop pres,EaGa pres,EaGa abs,EaGa prop pres,Any 5 pres,Any 5 abs,Any 5 prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,5.0,36.0,0.12,2.0,39.0,0.05,30.0,11.0,0.73,9.0,32.0,0.22,1.0,40.0,0.02,31.0,10.0,0.76
2,fm2,0.0,44.0,0.00,0.0,44.0,0.00,1.0,43.0,0.02,0.0,44.0,0.00,0.0,44.0,0.00,1.0,43.0,0.02
3,fm3,1.0,37.0,0.03,1.0,37.0,0.03,25.0,13.0,0.66,0.0,38.0,0.00,17.0,21.0,0.45,29.0,9.0,0.76
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,1.0,46.0,0.02,2.0,45.0,0.04,39.0,8.0,0.83,2.0,45.0,0.04,0.0,34.0,0.00,31.0,5.0,0.86
6,cm2,3.0,53.0,0.05,0.0,56.0,0.00,2.0,54.0,0.04,2.0,54.0,0.04,0.0,54.0,0.00,7.0,49.0,0.13
7,cm3,12.0,15.0,0.44,0.0,27.0,0.00,2.0,25.0,0.07,0.0,27.0,0.00,0.0,27.0,0.00,13.0,14.0,0.48
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0.0,30.0,0.00,0.0,30.0,0.00,0.0,30.0,0.00,0.0,30.0,0.00,0.0,30.0,0.00,0.0,30.0,0.00
10,fcm2,5.0,50.0,0.09,1.0,55.0,0.02,8.0,48.0,0.14,0.0,56.0,0.00,0.0,56.0,0.00,12.0,44.0,0.21
11,fcm3,4.0,32.0,0.11,0.0,36.0,0.00,5.0,31.0,0.14,0.0,36.0,0.00,0.0,36.0,0.00,9.0,27.0,0.25
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,7.0,18.0,0.28,11.0,14.0,0.44,0.0,25.0,0.00,0.0,25.0,0.00,0.0,25.0,0.00,15.0,10.0,0.60
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,34.0,14.0,0.71,36.0,12.0,0.75,14.0,34.0,0.29,1.0,47.0,0.02,1.0,47.0,0.02,41.0,7.0,0.85

In [90]:
sneed10_df = unrefined10_df[['field','LiBl prop pres','BiBl prop  pres','Ind prop pres', 'Swit prop pres', 'EaGa prop pres','Any 5 prop  pres']]
sneed10_df

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,0.12,0.05,0.73,0.22,0.02,0.76
2,fm2,0.00,0.00,0.02,0.00,0.00,0.02
3,fm3,0.03,0.03,0.66,0.00,0.45,0.76
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,0.02,0.04,0.83,0.04,0.00,0.86
6,cm2,0.05,0.00,0.04,0.04,0.00,0.13
7,cm3,0.44,0.00,0.07,0.00,0.00,0.48
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0.00,0.00,0.00,0.00,0.00,0.00
10,fcm2,0.09,0.02,0.14,0.00,0.00,0.21
11,fcm3,0.11,0.00,0.14,0.00,0.00,0.25
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.28,0.44,0.00,0.00,0.00,0.60
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.71,0.75,0.29,0.02,0.02,0.85

In [91]:
sneed10_df.dropna()

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
1,fm1,0.12,0.05,0.73,0.22,0.02,0.76
2,fm2,0.00,0.00,0.02,0.00,0.00,0.02
3,fm3,0.03,0.03,0.66,0.00,0.45,0.76
5,cm1,0.02,0.04,0.83,0.04,0.00,0.86
6,cm2,0.05,0.00,0.04,0.04,0.00,0.13
7,cm3,0.44,0.00,0.07,0.00,0.00,0.48
9,fcm1,0.00,0.00,0.00,0.00,0.00,0.00
10,fcm2,0.09,0.02,0.14,0.00,0.00,0.21
11,fcm3,0.11,0.00,0.14,0.00,0.00,0.25
13,Remnant,0.28,0.44,0.00,0.00,0.00,0.60
15,Garnett,0.71,0.75,0.29,0.02,0.02,0.85

In [92]:
fm_sneed10 = sneed10_df.iloc[1:4]
fm_sneed10

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
1,fm1,0.12,0.05,0.73,0.22,0.02,0.76
2,fm2,0.00,0.00,0.02,0.00,0.00,0.02
3,fm3,0.03,0.03,0.66,0.00,0.45,0.76

In [93]:
cm_sneed10 = sneed10_df.iloc[5:8]
cm_sneed10

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
5,cm1,0.02,0.04,0.83,0.04,0.0,0.86
6,cm2,0.05,0.00,0.04,0.04,0.0,0.13
7,cm3,0.44,0.00,0.07,0.00,0.0,0.48

In [94]:
fcm_sneed10 = sneed10_df.iloc[9:12]
fcm_sneed10

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
9,fcm1,0.00,0.00,0.00,0.0,0.0,0.00
10,fcm2,0.09,0.02,0.14,0.0,0.0,0.21
11,fcm3,0.11,0.00,0.14,0.0,0.0,0.25

In [95]:
# 2013 Data

In [96]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined13_df = pd.read_csv(
    Path("Resources/t_test/2013.csv")
)

# Review the first and last five rows of the DataFrame
unrefined13_df

,field,JohnGr pres,JohnGr abs,Tree pres,Tree abs,Bare ground,Some cover,Full cover,LiBl pres,LiBl abs,...,Ind prop pres,Swit pres,Swit abs,Swit prop pres,EaGa pres,EaGa abs,EaGa prop pres,Any 5 natives pres,Any 5 natives abs,Any 5 prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,0.0,39.0,0.0,39.0,0.0,13.0,26.0,2.0,37.0,...,0.64,2.0,37.0,0.05,0.0,39.0,0.000,29.0,10.0,1.00
2,fm2,0.0,38.0,10.0,26.0,0.0,16.0,22.0,0.0,38.0,...,0.05,0.0,38.0,0.00,0.0,38.0,0.000,3.0,35.0,0.23
3,fm3,0.0,40.0,3.0,37.0,1.0,5.0,34.0,7.0,33.0,...,0.55,0.0,40.0,0.00,11.0,29.0,0.275,34.0,6.0,0.49
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,0.0,41.0,1.0,42.0,0.0,3.0,52.0,0.0,41.0,...,0.63,1.0,40.0,0.02,0.0,41.0,0.000,27.0,14.0,1.00
6,cm2,0.0,46.0,0.0,46.0,0.0,18.0,29.0,3.0,43.0,...,0.04,0.0,46.0,0.00,0.0,46.0,0.000,5.0,41.0,0.26
7,cm3,0.0,29.0,2.0,26.0,0.0,8.0,20.0,7.0,22.0,...,0.07,0.0,29.0,0.00,0.0,29.0,0.000,9.0,20.0,0.18
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0.0,28.0,1.0,30.0,0.0,7.0,24.0,0.0,28.0,...,0.00,1.0,27.0,0.04,0.0,28.0,0.000,2.0,26.0,1.00
10,fcm2,0.0,46.0,1.0,41.0,0.0,19.0,23.0,0.0,46.0,...,0.17,0.0,46.0,0.00,0.0,46.0,0.000,8.0,38.0,0.24
11,fcm3,0.0,30.0,9.0,18.0,1.0,9.0,17.0,1.0,29.0,...,0.03,2.0,28.0,0.07,0.0,30.0,0.000,4.0,26.0,0.10
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.0,18.0,12.0,9.0,0.0,5.0,16.0,6.0,12.0,...,0.00,0.0,18.0,0.00,0.0,18.0,0.000,10.0,8.0,1.00
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
15,Garnett,3.0,44.0,7.0,37.0,0.0,12.0,32.0,33.0,14.0,...,0.23,7.0,40.0,0.15,0.0,47.0,0.000,40.0,7.0,1.00

In [97]:
sneed13_df = unrefined13_df[['field','LiBl prop pres','BiBl prop  pres','Ind prop pres', 'Swit prop pres','EaGa prop pres', 'Any 5 prop  pres']]
sneed13_df

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fm1,0.05,0.15,0.64,0.05,0.000,1.00
2,fm2,0.00,0.03,0.05,0.00,0.000,0.23
3,fm3,0.18,0.05,0.55,0.00,0.275,0.49
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,cm1,0.00,0.02,0.63,0.02,0.000,1.00
6,cm2,0.07,0.00,0.04,0.00,0.000,0.26
7,cm3,0.24,0.00,0.07,0.00,0.000,0.18
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,fcm1,0.00,0.04,0.00,0.04,0.000,1.00
10,fcm2,0.00,0.00,0.17,0.00,0.000,0.24
11,fcm3,0.03,0.00,0.03,0.07,0.000,0.10
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.33,0.33,0.00,0.00,0.000,1.00
14,NaN,NaN,NaN,NaN,NaN,NaN,0.00
15,Garnett,0.70,0.36,0.23,0.15,0.000,1.00

In [98]:
sneed13_df.dropna()

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
1,fm1,0.05,0.15,0.64,0.05,0.000,1.00
2,fm2,0.00,0.03,0.05,0.00,0.000,0.23
3,fm3,0.18,0.05,0.55,0.00,0.275,0.49
5,cm1,0.00,0.02,0.63,0.02,0.000,1.00
6,cm2,0.07,0.00,0.04,0.00,0.000,0.26
7,cm3,0.24,0.00,0.07,0.00,0.000,0.18
9,fcm1,0.00,0.04,0.00,0.04,0.000,1.00
10,fcm2,0.00,0.00,0.17,0.00,0.000,0.24
11,fcm3,0.03,0.00,0.03,0.07,0.000,0.10
13,Remnant,0.33,0.33,0.00,0.00,0.000,1.00
15,Garnett,0.70,0.36,0.23,0.15,0.000,1.00

In [99]:
fm_sneed13 = sneed13_df.iloc[1:4]
fm_sneed13

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
1,fm1,0.05,0.15,0.64,0.05,0.000,1.00
2,fm2,0.00,0.03,0.05,0.00,0.000,0.23
3,fm3,0.18,0.05,0.55,0.00,0.275,0.49

In [100]:
cm_sneed13 = sneed13_df.iloc[5:8]
cm_sneed13

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
5,cm1,0.00,0.02,0.63,0.02,0.0,1.00
6,cm2,0.07,0.00,0.04,0.00,0.0,0.26
7,cm3,0.24,0.00,0.07,0.00,0.0,0.18

In [101]:
fcm_sneed13 = sneed13_df.iloc[9:12]
fcm_sneed13

,field,LiBl prop pres,BiBl prop pres,Ind prop pres,Swit prop pres,EaGa prop pres,Any 5 prop pres
9,fcm1,0.00,0.04,0.00,0.04,0.0,1.00
10,fcm2,0.00,0.00,0.17,0.00,0.0,0.24
11,fcm3,0.03,0.00,0.03,0.07,0.0,0.10

In [102]:
# 2016 Data

In [103]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined16_df = pd.read_csv(
    Path("Resources/t_test/2004_2016.csv")
)

# Review the first and last five rows of the DataFrame
unrefined16_df

,Field,LiBl 2004,LiBl 2016,BiBl 2004,BiBl 2016,Ind 2004,Ind 2016,Swit 2004,Swit 2016,EaGa 2004,EaGa 2016,Any of 5 2004,Any of 5 2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.00,0.00,0.05,0.03,0.31,0.69,0.00,0.06,0.00,0.00,0.33,0.71
2,FM2,0.00,0.10,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.00,0.02,0.10
3,FM3,0.00,0.02,0.00,0.00,0.38,0.57,0.00,0.00,0.19,0.36,0.48,0.74
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.00,0.00,0.00,0.33,0.89,0.00,0.00,0.00,0.03,0.33,0.89
6,CM2,0.04,0.09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.04,0.09
7,CM3,0.36,0.46,0.00,0.00,0.08,0.23,0.00,0.00,0.00,0.00,0.40,0.62
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.00,0.00,0.00,0.00,0.00,0.04,0.00,0.00,0.00,0.00,0.00,0.04
10,FCM2,0.05,0.07,0.00,0.05,0.05,0.07,0.00,0.00,0.00,0.00,0.09,0.20
11,FCM3,0.00,0.00,0.00,0.00,0.00,0.10,0.00,0.10,0.00,0.03,0.00,0.23
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.25,0.17,0.25,0.17,0.00,0.00,0.00,0.00,0.00,0.00,0.45,0.30
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.67,0.33,0.48,0.59,0.48,0.52,0.09,0.17,0.00,0.04,0.93,0.96

In [104]:
sneed16_df = unrefined16_df.drop(['LiBl 2004', 'Ind 2004', 'BiBl 2004', 'Swit 2004', 'EaGa 2004','Any of 5 2004'], axis = 1)
sneed16_df

,Field,LiBl 2016,BiBl 2016,Ind 2016,Swit 2016,EaGa 2016,Any of 5 2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.00,0.03,0.69,0.06,0.00,0.71
2,FM2,0.10,0.00,0.00,0.00,0.00,0.10
3,FM3,0.02,0.00,0.57,0.00,0.36,0.74
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.00,0.89,0.00,0.03,0.89
6,CM2,0.09,0.00,0.00,0.00,0.00,0.09
7,CM3,0.46,0.00,0.23,0.00,0.00,0.62
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.00,0.00,0.04,0.00,0.00,0.04
10,FCM2,0.07,0.05,0.07,0.00,0.00,0.20
11,FCM3,0.00,0.00,0.10,0.10,0.03,0.23
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.17,0.17,0.00,0.00,0.00,0.30
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.33,0.59,0.52,0.17,0.04,0.96

In [105]:
sneed16_df.dropna()

,Field,LiBl 2016,BiBl 2016,Ind 2016,Swit 2016,EaGa 2016,Any of 5 2016
1,FM1,0.00,0.03,0.69,0.06,0.00,0.71
2,FM2,0.10,0.00,0.00,0.00,0.00,0.10
3,FM3,0.02,0.00,0.57,0.00,0.36,0.74
5,CM1,0.00,0.00,0.89,0.00,0.03,0.89
6,CM2,0.09,0.00,0.00,0.00,0.00,0.09
7,CM3,0.46,0.00,0.23,0.00,0.00,0.62
9,FCM1,0.00,0.00,0.04,0.00,0.00,0.04
10,FCM2,0.07,0.05,0.07,0.00,0.00,0.20
11,FCM3,0.00,0.00,0.10,0.10,0.03,0.23
13,Remnant,0.17,0.17,0.00,0.00,0.00,0.30
15,Garnett,0.33,0.59,0.52,0.17,0.04,0.96

In [106]:
fm_sneed16 = sneed16_df.iloc[1:4]
fm_sneed16

  Field  LiBl 2016  BiBl 2016  Ind 2016  Swit 2016  EaGa 2016  Any of 5 2016
1   FM1       0.00       0.03      0.69       0.06       0.00           0.71
2   FM2       0.10       0.00      0.00       0.00       0.00           0.10
3   FM3       0.02       0.00      0.57       0.00       0.36           0.74

In [107]:
cm_sneed16 = sneed16_df.iloc[5:8]
cm_sneed16

  Field  LiBl 2016  BiBl 2016  Ind 2016  Swit 2016  EaGa 2016  Any of 5 2016
5   CM1       0.00        0.0      0.89        0.0       0.03           0.89
6   CM2       0.09        0.0      0.00        0.0       0.00           0.09
7   CM3       0.46        0.0      0.23        0.0       0.00           0.62

In [108]:
fcm_sneed16 = sneed16_df.iloc[9:12]
fcm_sneed16

   Field  LiBl 2016  BiBl 2016  Ind 2016  Swit 2016  EaGa 2016  Any of 5 2016
9   FCM1       0.00       0.00      0.04        0.0       0.00           0.04
10  FCM2       0.07       0.05      0.07        0.0       0.00           0.20
11  FCM3       0.00       0.00      0.10        0.1       0.03           0.23

In [109]:
# 2017 Data

In [110]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined17_df = pd.read_csv(
    Path("Resources/t_test/2017.csv")
)

# Review the first and last five rows of the DataFrame
unrefined17_df

,Field,# obs full soil cover,# obs some soil cover,total # soil sample points,prop full soil cover,prop any soil cover,# obs LiBl present,total # LiBl sample points,prop samples w LiBl,# obs BiBl present,...,# obs 3M John,total # 3M John sample points,prop samples w 3M John,# obs Tree present,total # Tree sample points,prop samples w tree,# obs KRBS present,total # KRBS sample points,prop samples w KRBS,Notes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,10.0,18.0,28.0,NaN,NaN,2.0,43.0,0.05,5.0,...,0.0,43.0,0.00,1.0,37.0,NaN,17.0,37.0,NaN,Noil soil data for transect 4 (wrong radius ob...
2,FM2,38.0,8.0,46.0,NaN,NaN,8.0,48.0,0.17,2.0,...,0.0,48.0,0.00,15.0,46.0,NaN,4.0,46.0,NaN,NaN
3,FM3,25.0,15.0,44.0,NaN,NaN,3.0,52.0,0.06,0.0,...,0.0,52.0,0.00,1.0,44.0,NaN,0.0,44.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,16.0,21.0,39.0,NaN,NaN,1.0,47.0,0.02,1.0,...,1.0,47.0,0.02,1.0,39.0,NaN,2.0,28.0,NaN,No KRBS data for transect 3
6,CM2,32.0,8.0,43.0,NaN,NaN,3.0,52.0,0.06,0.0,...,2.0,52.0,0.04,1.0,43.0,NaN,2.0,43.0,NaN,NaN
7,CM3,16.0,7.0,24.0,NaN,NaN,9.0,29.0,0.31,0.0,...,1.0,29.0,0.03,2.0,24.0,NaN,1.0,24.0,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,15.0,2.0,21.0,NaN,NaN,3.0,31.0,0.10,1.0,...,2.0,31.0,0.06,0.0,29.0,NaN,8.0,29.0,NaN,No soil data for transect 4
10,FCM2,26.0,15.0,44.0,NaN,NaN,5.0,27.0,0.19,2.0,...,0.0,47.0,0.00,6.0,44.0,NaN,14.0,44.0,NaN,NaN
11,FCM3,15.0,4.0,25.0,NaN,NaN,5.0,36.0,0.14,0.0,...,4.0,36.0,0.11,9.0,31.0,NaN,2.0,31.0,NaN,NaN

In [111]:
sneed17_df = unrefined17_df[['Field','prop samples w 3M John','prop samples w LiBl', 'prop samples w BiBl', 'prop samples w Ind', 'prop samples w Swit', 'prop samples w EaGa ','prop samples w any of 5 grasses']]
sneed17_df

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.00,0.05,0.12,0.67,0.67,0.02,0.74
2,FM2,0.00,0.17,0.04,0.04,0.04,0.00,0.21
3,FM3,0.00,0.06,0.00,0.50,0.50,0.44,0.79
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.02,0.02,0.02,0.83,0.83,0.00,0.83
6,CM2,0.04,0.06,0.00,0.00,0.00,0.02,0.12
7,CM3,0.03,0.31,0.00,0.17,0.17,0.00,0.38
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.06,0.10,0.03,0.00,0.00,0.06,0.29
10,FCM2,0.00,0.19,0.04,0.04,0.04,0.02,0.19
11,FCM3,0.11,0.14,0.00,0.11,0.11,0.11,0.33

In [112]:
sneed17_df.dropna()

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
1,FM1,0.00,0.05,0.12,0.67,0.67,0.02,0.74
2,FM2,0.00,0.17,0.04,0.04,0.04,0.00,0.21
3,FM3,0.00,0.06,0.00,0.50,0.50,0.44,0.79
5,CM1,0.02,0.02,0.02,0.83,0.83,0.00,0.83
6,CM2,0.04,0.06,0.00,0.00,0.00,0.02,0.12
7,CM3,0.03,0.31,0.00,0.17,0.17,0.00,0.38
9,FCM1,0.06,0.10,0.03,0.00,0.00,0.06,0.29
10,FCM2,0.00,0.19,0.04,0.04,0.04,0.02,0.19
11,FCM3,0.11,0.14,0.00,0.11,0.11,0.11,0.33

In [113]:
fm_sneed17 = sneed17_df.iloc[1:4]
fm_sneed17

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
1,FM1,0.0,0.05,0.12,0.67,0.67,0.02,0.74
2,FM2,0.0,0.17,0.04,0.04,0.04,0.00,0.21
3,FM3,0.0,0.06,0.00,0.50,0.50,0.44,0.79

In [114]:
cm_sneed17 = sneed17_df.iloc[5:8]
cm_sneed17

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
5,CM1,0.02,0.02,0.02,0.83,0.83,0.00,0.83
6,CM2,0.04,0.06,0.00,0.00,0.00,0.02,0.12
7,CM3,0.03,0.31,0.00,0.17,0.17,0.00,0.38

In [115]:
fcm_sneed17 = sneed17_df.iloc[9:12]
fcm_sneed17

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
9,FCM1,0.06,0.10,0.03,0.00,0.00,0.06,0.29
10,FCM2,0.00,0.19,0.04,0.04,0.04,0.02,0.19
11,FCM3,0.11,0.14,0.00,0.11,0.11,0.11,0.33

In [116]:
# 2018 Data

In [117]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined18_df = pd.read_csv(
    Path("Resources/t_test/2018.csv")
)

# Review the first and last five rows of the DataFrame
unrefined18_df

,Field,# obs full soil cover,# obs some soil cover,total # soil sample points,prop full soil cover,prop any soil cover,# obs LiBl present,total # LiBl sample points,prop samples w LiBl,# obs BiBl present,...,# obs 3M John,total # 3M John sample points,prop samples w 3M John,# obs Tree present,total # Tree sample points,prop samples w tree,# obs KRBS present,total # KRBS sample points,prop samples w KRBS,Notes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,10.0,18.0,28.0,NaN,NaN,1.0,37.0,0.03,6.0,...,1.0,37.0,0.03,1.0,37.0,NaN,17.0,37.0,NaN,Noil soil data for transect 4 (wrong radius ob...
2,FM2,38.0,8.0,46.0,NaN,NaN,12.0,46.0,0.26,3.0,...,4.0,46.0,0.09,15.0,46.0,NaN,4.0,46.0,NaN,NaN
3,FM3,25.0,15.0,44.0,NaN,NaN,2.0,44.0,0.05,0.0,...,2.0,44.0,0.05,1.0,44.0,NaN,0.0,44.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,16.0,21.0,39.0,NaN,NaN,0.0,39.0,0.00,0.0,...,0.0,39.0,0.00,1.0,39.0,NaN,2.0,28.0,NaN,No KRBS data for transect 3
6,CM2,32.0,8.0,43.0,NaN,NaN,3.0,43.0,0.07,0.0,...,1.0,43.0,0.02,1.0,43.0,NaN,2.0,43.0,NaN,NaN
7,CM3,16.0,7.0,24.0,NaN,NaN,5.0,24.0,0.21,0.0,...,4.0,24.0,0.17,2.0,24.0,NaN,1.0,24.0,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,15.0,2.0,21.0,NaN,NaN,2.0,29.0,0.07,0.0,...,5.0,29.0,0.17,0.0,29.0,NaN,8.0,29.0,NaN,No soil data for transect 4
10,FCM2,26.0,15.0,44.0,NaN,NaN,9.0,44.0,0.20,1.0,...,0.0,44.0,0.00,6.0,44.0,NaN,14.0,44.0,NaN,NaN
11,FCM3,15.0,4.0,25.0,NaN,NaN,4.0,31.0,0.13,0.0,...,7.0,31.0,0.23,9.0,31.0,NaN,2.0,31.0,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,15.0,1.0,16.0,NaN,NaN,7.0,16.0,0.44,6.0,...,0.0,16.0,0.00,9.0,16.0,NaN,0.0,16.0,NaN,No data for transect 4
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,32.0,9.0,42.0,NaN,NaN,17.0,42.0,0.40,25.0,...,0.0,42.0,0.00,0.0,42.0,NaN,0.0,42.0,NaN,NaN

In [118]:
sneed18_df = unrefined18_df[['Field','prop samples w 3M John','prop samples w LiBl', 'prop samples w BiBl', 'prop samples w Ind', 'prop samples w Swit', 'prop samples w EaGa ','prop samples w any of 5 grasses']]
sneed18_df

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FM1,0.03,0.03,0.16,0.73,0.05,0.00,0.78
2,FM2,0.09,0.26,0.07,0.00,0.04,0.00,0.37
3,FM3,0.05,0.05,0.00,0.59,0.14,0.16,0.73
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,CM1,0.00,0.00,0.00,0.85,0.00,0.00,0.85
6,CM2,0.02,0.07,0.00,0.00,0.00,0.05,0.12
7,CM3,0.17,0.21,0.00,0.13,0.08,0.00,0.38
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,FCM1,0.17,0.07,0.00,0.00,0.07,0.00,0.14
10,FCM2,0.00,0.20,0.02,0.16,0.05,0.00,0.39
11,FCM3,0.23,0.13,0.00,0.16,0.16,0.06,0.48
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Remnant,0.00,0.44,0.38,0.00,0.00,0.00,0.69
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Garnett,0.00,0.40,0.60,0.36,0.02,0.02,0.88

In [119]:
sneed18_df.dropna()

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
1,FM1,0.03,0.03,0.16,0.73,0.05,0.00,0.78
2,FM2,0.09,0.26,0.07,0.00,0.04,0.00,0.37
3,FM3,0.05,0.05,0.00,0.59,0.14,0.16,0.73
5,CM1,0.00,0.00,0.00,0.85,0.00,0.00,0.85
6,CM2,0.02,0.07,0.00,0.00,0.00,0.05,0.12
7,CM3,0.17,0.21,0.00,0.13,0.08,0.00,0.38
9,FCM1,0.17,0.07,0.00,0.00,0.07,0.00,0.14
10,FCM2,0.00,0.20,0.02,0.16,0.05,0.00,0.39
11,FCM3,0.23,0.13,0.00,0.16,0.16,0.06,0.48
13,Remnant,0.00,0.44,0.38,0.00,0.00,0.00,0.69
15,Garnett,0.00,0.40,0.60,0.36,0.02,0.02,0.88

In [120]:
fm_sneed18 = sneed18_df.iloc[1:4]
fm_sneed18

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
1,FM1,0.03,0.03,0.16,0.73,0.05,0.00,0.78
2,FM2,0.09,0.26,0.07,0.00,0.04,0.00,0.37
3,FM3,0.05,0.05,0.00,0.59,0.14,0.16,0.73

In [121]:
cm_sneed18 = sneed18_df.iloc[5:8]
cm_sneed18

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
5,CM1,0.00,0.00,0.0,0.85,0.00,0.00,0.85
6,CM2,0.02,0.07,0.0,0.00,0.00,0.05,0.12
7,CM3,0.17,0.21,0.0,0.13,0.08,0.00,0.38

In [122]:
fcm_sneed18 = sneed18_df.iloc[9:12]
fcm_sneed18

,Field,prop samples w 3M John,prop samples w LiBl,prop samples w BiBl,prop samples w Ind,prop samples w Swit,prop samples w EaGa,prop samples w any of 5 grasses
9,FCM1,0.17,0.07,0.00,0.00,0.07,0.00,0.14
10,FCM2,0.00,0.20,0.02,0.16,0.05,0.00,0.39
11,FCM3,0.23,0.13,0.00,0.16,0.16,0.06,0.48