In [30]:
import pandas as pd
import hvplot.pandas
from pathlib import Path
import numpy as np
import os

In [31]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined04_df = pd.read_csv(
    Path("Resources/kmeans/2008.csv")
)

# Review the first and last five rows of the DataFrame
unrefined04_df

,Field,Transect,Trans sample,Replicate 2004,Replicate 2008,JohnGr 2004,JohnGr 2008,Tree 2004,Tree 2008,Bare 2004,...,BiBl 2008,Ind 2004,Ind 2008,Swit 2004,Swit 2008,EaGa 2004,EaGa 2008,Any 5 2004,Any 5 2008,2004 # of big five per sample point
0,FM1,1,1,1.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,1,0.0,0,0.0,0,1.0,1,1.0
1,FM1,1,2,2.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,1,0.0,0,0.0,0,1.0,1,1.0
2,FM1,1,3,3.0,NaN,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,FM1,1,4,4.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,0,0.0,0,0.0,0,1.0,0,1.0
4,FM1,1,5,5.0,NaN,0.0,0,0.0,0,0.0,...,0,0.0,1,0.0,0,0.0,0,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,GARNETT,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,GARNETT,6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,GARNETT,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,GARNETT,6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,GARNETT,6,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
unrefined04_df.columns

Index(['Field', 'Transect', 'Trans sample', 'Replicate 2004', 'Replicate 2008',
       'JohnGr 2004', 'JohnGr 2008', 'Tree 2004', 'Tree 2008', 'Bare 2004',
       'T/acs 2008', 'A/acs 2008', 'LiBl 2004', 'LiBl 2008', 'BiBl 2004',
       'BiBl 2008', 'Ind 2004', 'Ind 2008', 'Swit 2004', 'Swit 2008',
       'EaGa 2004', 'EaGa 2008', 'Any 5 2004', 'Any 5 2008',
       '2004 # of big five per sample point'],
      dtype='object')

In [33]:
# Use drop function to eliminate non relevant data
sneed04_df = unrefined04_df[['Field', 'Transect', 'Trans sample','JohnGr 2004','LiBl 2004','BiBl 2004','Ind 2004','Swit 2004','EaGa 2004']]

# Review the first and last five rows of the DataFrame
sneed04_df

,Field,Transect,Trans sample,JohnGr 2004,LiBl 2004,BiBl 2004,Ind 2004,Swit 2004,EaGa 2004
0,FM1,1,1,0.0,0.0,0.0,1.0,0.0,0.0
1,FM1,1,2,0.0,0.0,0.0,1.0,0.0,0.0
2,FM1,1,3,0.0,0.0,0.0,0.0,0.0,0.0
3,FM1,1,4,0.0,0.0,0.0,1.0,0.0,0.0
4,FM1,1,5,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
463,GARNETT,6,4,NaN,NaN,NaN,NaN,NaN,NaN
464,GARNETT,6,5,NaN,NaN,NaN,NaN,NaN,NaN
465,GARNETT,6,6,NaN,NaN,NaN,NaN,NaN,NaN
466,GARNETT,6,7,NaN,NaN,NaN,NaN,NaN,NaN
467,GARNETT,6,8,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
sneed04_clean_df= pd.get_dummies(sneed04_df, columns=['Field','Transect','Trans sample'])
sneed04_clean_df

,JohnGr 2004,LiBl 2004,BiBl 2004,Ind 2004,Swit 2004,EaGa 2004,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_4,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13
0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
464,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
465,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
466,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
467,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [35]:
sneed04_clean_df.dropna()

,JohnGr 2004,LiBl 2004,BiBl 2004,Ind 2004,Swit 2004,EaGa 2004,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_4,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13
0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
456,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
457,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
458,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
459,0.0,1.0,0.0,1.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [36]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined08_df = pd.read_csv(
    Path("Resources/kmeans/2008.csv")
)

# Review the first and last five rows of the DataFrame
unrefined08_df

,Field,Transect,Trans sample,Replicate 2004,Replicate 2008,JohnGr 2004,JohnGr 2008,Tree 2004,Tree 2008,Bare 2004,...,BiBl 2008,Ind 2004,Ind 2008,Swit 2004,Swit 2008,EaGa 2004,EaGa 2008,Any 5 2004,Any 5 2008,2004 # of big five per sample point
0,FM1,1,1,1.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,1,0.0,0,0.0,0,1.0,1,1.0
1,FM1,1,2,2.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,1,0.0,0,0.0,0,1.0,1,1.0
2,FM1,1,3,3.0,NaN,0.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,FM1,1,4,4.0,NaN,0.0,0,0.0,0,0.0,...,0,1.0,0,0.0,0,0.0,0,1.0,0,1.0
4,FM1,1,5,5.0,NaN,0.0,0,0.0,0,0.0,...,0,0.0,1,0.0,0,0.0,0,0.0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,GARNETT,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
464,GARNETT,6,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,GARNETT,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,GARNETT,6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
467,GARNETT,6,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
unrefined08_df.columns

Index(['Field', 'Transect', 'Trans sample', 'Replicate 2004', 'Replicate 2008',
       'JohnGr 2004', 'JohnGr 2008', 'Tree 2004', 'Tree 2008', 'Bare 2004',
       'T/acs 2008', 'A/acs 2008', 'LiBl 2004', 'LiBl 2008', 'BiBl 2004',
       'BiBl 2008', 'Ind 2004', 'Ind 2008', 'Swit 2004', 'Swit 2008',
       'EaGa 2004', 'EaGa 2008', 'Any 5 2004', 'Any 5 2008',
       '2004 # of big five per sample point'],
      dtype='object')

In [38]:
# Use drop function to eliminate non relevant data
sneed08_df = unrefined08_df[['Field', 'Transect', 'Trans sample','JohnGr 2008','LiBl 2008','BiBl 2008','Ind 2008','Swit 2008','EaGa 2008']]

# Review the first and last five rows of the DataFrame
sneed08_df

,Field,Transect,Trans sample,JohnGr 2008,LiBl 2008,BiBl 2008,Ind 2008,Swit 2008,EaGa 2008
0,FM1,1,1,0,0,0,1,0,0
1,FM1,1,2,0,0,0,1,0,0
2,FM1,1,3,0,0,0,0,0,0
3,FM1,1,4,0,0,0,0,0,0
4,FM1,1,5,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
463,GARNETT,6,4,NaN,NaN,NaN,NaN,NaN,NaN
464,GARNETT,6,5,NaN,NaN,NaN,NaN,NaN,NaN
465,GARNETT,6,6,NaN,NaN,NaN,NaN,NaN,NaN
466,GARNETT,6,7,NaN,NaN,NaN,NaN,NaN,NaN
467,GARNETT,6,8,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
sneed08_df= pd.get_dummies(sneed08_df,
                                 dummy_na=False, 
                                 columns=['Field','Transect','Trans sample'])
sneed08_df

,JohnGr 2008,LiBl 2008,BiBl 2008,Ind 2008,Swit 2008,EaGa 2008,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_4,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
464,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
465,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
466,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
467,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [40]:
sneed08_df = sneed08_df.dropna()
sneed08_df

,JohnGr 2008,LiBl 2008,BiBl 2008,Ind 2008,Swit 2008,EaGa 2008,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_4,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
409,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
411,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
412,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [46]:
sneed08_df

JohnGr 2008                     object
LiBl 2008                       object
BiBl 2008                       object
Ind 2008                        object
Swit 2008                       object
EaGa 2008                       object
Field_CM1                        uint8
Field_CM2                        uint8
Field_CM3                        uint8
Field_FCM1                       uint8
Field_FCM2                       uint8
Field_FCM3                       uint8
Field_FM1                        uint8
Field_FM2                        uint8
Field_FM3                        uint8
Field_GARNETT                    uint8
Field_REMNANT                    uint8
Transect_-1                      uint8
Transect_-2                      uint8
Transect_0                       uint8
Transect_1                       uint8
Transect_2                       uint8
Transect_2 (was transect 1B)     uint8
Transect_3                       uint8
Transect_3 (was transect 2)      uint8
Transect_4                       uint8
Transect_4 (was transect 2B)     uint8
Transect_5                       uint8
Transect_5 (was transect 3)      uint8
Transect_6                       uint8
Transect_7                       uint8
Transect_8                       uint8
Transect_9                       uint8
Trans sample_1                   uint8
Trans sample_2                   uint8
Trans sample_3                   uint8
Trans sample_4                   uint8
Trans sample_5                   uint8
Trans sample_6                   uint8
Trans sample_7                   uint8
Trans sample_8                   uint8
Trans sample_9                   uint8
Trans sample_10                  uint8
Trans sample_11                  uint8
Trans sample_12                  uint8
Trans sample_13                  uint8
dtype: object

In [52]:
sneed08_df = sneed08_df[sneed08_df['JohnGr 2008']!="ws"]
sneed08_df = sneed08_df[sneed08_df['JohnGr 2008']!="br"]

In [53]:
sneed08_df.columns

Index(['JohnGr 2008', 'LiBl 2008', 'BiBl 2008', 'Ind 2008', 'Swit 2008',
       'EaGa 2008', 'Field_CM1', 'Field_CM2', 'Field_CM3', 'Field_FCM1',
       'Field_FCM2', 'Field_FCM3', 'Field_FM1', 'Field_FM2', 'Field_FM3',
       'Field_GARNETT', 'Field_REMNANT', 'Transect_-1', 'Transect_-2',
       'Transect_0', 'Transect_1', 'Transect_2',
       'Transect_2 (was transect 1B)', 'Transect_3',
       'Transect_3 (was transect 2)', 'Transect_4',
       'Transect_4 (was transect 2B)', 'Transect_5',
       'Transect_5 (was transect 3)', 'Transect_6', 'Transect_7', 'Transect_8',
       'Transect_9', 'Trans sample_1', 'Trans sample_2', 'Trans sample_3',
       'Trans sample_4', 'Trans sample_5', 'Trans sample_6', 'Trans sample_7',
       'Trans sample_8', 'Trans sample_9', 'Trans sample_10',
       'Trans sample_11', 'Trans sample_12', 'Trans sample_13'],
      dtype='object')

In [55]:
sneed08_df[['JohnGr 2008', 'LiBl 2008', 'BiBl 2008', 'Ind 2008', 'Swit 2008', 'EaGa 2008']] = sneed08_df[['JohnGr 2008', 'LiBl 2008', 'BiBl 2008', 'Ind 2008', 'Swit 2008',
       'EaGa 2008']].astype(int)

In [56]:
sneed08_df.dtypes

JohnGr 2008                     int32
LiBl 2008                       int32
BiBl 2008                       int32
Ind 2008                        int32
Swit 2008                       int32
EaGa 2008                       int32
Field_CM1                       uint8
Field_CM2                       uint8
Field_CM3                       uint8
Field_FCM1                      uint8
Field_FCM2                      uint8
Field_FCM3                      uint8
Field_FM1                       uint8
Field_FM2                       uint8
Field_FM3                       uint8
Field_GARNETT                   uint8
Field_REMNANT                   uint8
Transect_-1                     uint8
Transect_-2                     uint8
Transect_0                      uint8
Transect_1                      uint8
Transect_2                      uint8
Transect_2 (was transect 1B)    uint8
Transect_3                      uint8
Transect_3 (was transect 2)     uint8
Transect_4                      uint8
Transect_4 (was transect 2B)    uint8
Transect_5                      uint8
Transect_5 (was transect 3)     uint8
Transect_6                      uint8
Transect_7                      uint8
Transect_8                      uint8
Transect_9                      uint8
Trans sample_1                  uint8
Trans sample_2                  uint8
Trans sample_3                  uint8
Trans sample_4                  uint8
Trans sample_5                  uint8
Trans sample_6                  uint8
Trans sample_7                  uint8
Trans sample_8                  uint8
Trans sample_9                  uint8
Trans sample_10                 uint8
Trans sample_11                 uint8
Trans sample_12                 uint8
Trans sample_13                 uint8
dtype: object

In [57]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [58]:
# Create a list with the number of k-values to try
# Use a range from

k = list(range(1,22))

In [59]:
# Create an empy list to store the inertia values
inertia = []

In [60]:
# Create a for loop to compute the inertia with each possible value of k
# Inside the loop:
# 1. Create a KMeans model using the loop counter for the n_clusters
# 2. Fit the model to the data using `sneed04_clean_df`
# 3. Append the model.inertia_ to the inertia list
for i in k:
    model = KMeans(n_clusters=i, random_state=0)
    model.fit(sneed08_df)
    inertia.append(model.inertia_)

C:\Users\Anjana\.conda\envs\dev\lib\site-packages\sklearn\cluster\_kmeans.py:1036: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=2.
  warnings.warn(

In [62]:
# Create a dictionary with the data to plot the Elbow curve
elbow_data = {
    "k": k,
    "inertia": inertia}

In [63]:
# Create a DataFrame with the data to plot the Elbow curve
df_elbow = pd.DataFrame(elbow_data)

In [64]:
# Plot a line chart with all the inertia values computed with 
# the different values of k to visually identify the optimal value for k.
elbow_plot = df_elbow.hvplot.line(x="k", y="inertia", title="Elbow Curve 1", color='red', xticks=k)
elbow_plot

:Curve   [k]   (inertia)

In [67]:
model = KMeans(n_clusters=5, random_state=0)
model.fit(sneed08_df)

KMeans(n_clusters=5, random_state=0)

In [69]:
prediction = model.predict(sneed08_df)

In [71]:
sneed08_df['2008Prediction'] = prediction

In [72]:
sneed08_df.head()

,JohnGr 2008,LiBl 2008,BiBl 2008,Ind 2008,Swit 2008,EaGa 2008,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13,2008Prediction
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,4

In [73]:
sneed08_df[sneed08_df['2008Prediction']==4]

,JohnGr 2008,LiBl 2008,BiBl 2008,Ind 2008,Swit 2008,EaGa 2008,Field_CM1,Field_CM2,Field_CM3,Field_FCM1,...,Trans sample_5,Trans sample_6,Trans sample_7,Trans sample_8,Trans sample_9,Trans sample_10,Trans sample_11,Trans sample_12,Trans sample_13,2008Prediction
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
4,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
358,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,4
389,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
390,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
391,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [65]:
# Using the read_csv function and Path module, create a DataFrame 
unrefined14_df = pd.read_csv(
    Path("Resources/kmeans/2014.csv")
)

# Review the first and last five rows of the DataFrame
unrefined14_df

,Field,2014 Bare,2014 Some but not ful cov,2014 Full cov,2014 LiBl,2014 BiBl,2014 Ind,2014 Swit,2014 EaGa w/o seeds,2014 SiOt,...,2014 Any of (0.5m JG trees or bg),2014 Any of 3 uNaNes grass (3m JG),2014 Any nat per not in Diggs group - LG,2014 # characteristic prairie sps per sample,2014 # ruderal spcs per sample,2014 # ruderal spcs -LG per sample,2014 # uNaNesirable per sample,2014 # native perennial per sample,2014 # native perennials -LG per sample,2014 # characteristic prairie sps per samp- B5
0,FM1,0,1,0,0,1,1,0,0,1,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,3.0,1.0
1,FM1,0,0,1,0,0,1,0,0,1,...,0.0,0.0,1.0,2.0,2.0,1.0,0.0,4.0,3.0,1.0
2,FM1,0,0,1,0,0,1,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
3,FM1,0,0,1,0,0,0,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,FM1,0,0,1,0,0,0,0,0,1,...,0.0,0.0,0.0,2.0,1.0,0.0,0.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,GARNETT,0,0,1,0,0,0,0,0,0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0
464,GARNETT,0,0,1,1,0,1,0,0,0,...,0.0,1.0,1.0,3.0,1.0,1.0,1.0,4.0,4.0,1.0
465,GARNETT,0,0,1,1,1,1,0,0,0,...,0.0,0.0,1.0,4.0,1.0,1.0,0.0,5.0,5.0,1.0
466,GARNETT,0,0,1,0,0,0,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0,2.0,1.0
467,GARNETT,0,0,1,1,0,0,0,0,0,...,0.0,0.0,1.0,2.0,1.0,1.0,0.0,3.0,3.0,1.0

In [ ]:
unrefined14_df.columns

In [ ]:
# Use drop function to eliminate non relevant data
sneed14_df = unrefined14_df[['Field','2014 LiBl', '2014 BiBl', '2014 Ind', '2014 Swit',
       '2014 EaGa w/o seeds']]

# Review the first and last five rows of the DataFrame
sneed14_df

In [ ]:
sneed08_clean_df= pd.get_dummies(sneed14_df, columns=['Field'])
sneed08_clean_df